<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Todo App</title>
    <style type="text/css">
        body{
		  background: rgb(54,217,182);
		  background: linear-gradient(90deg, rgba(54,217,182,1) 0%, rgba(32,152,126,1) 43%, rgba(0,212,255,1) 100%);
		}


		h1, h2, h3, h4, h5, p, span, strike{
		  font-family: 'Montserrat', sans-serif;

		}


		#task-container{
		  max-width:600px;
		  margin:0 auto;
		  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		  background-color: #fff;
		  
		  margin-top:100px;
		  margin-bottom:100px;

		  justify-content: space-around;
		  align-items: flex-start;

		}

		#form-wrapper{
		  position: -webkit-sticky;
		  position: sticky;
		  top: 0rem;
		  border-bottom: 1px solid  #e9e9e9;
		  background-color: #fff;
		  box-shadow: 0 3px 8px rgba(0,0,0,0.25);
 		  padding:40px;
		}

		#submit{
		  background-color: #36d9b6;
		  border-radius: 0;
		  border:0;
		  color: #fff;
		}

		.flex-wrapper{
			display: flex;
		}

		.task-wrapper{
		  	margin:5px;
		  	padding: 5px;
		  	padding:20px;
		  	cursor: pointer;
		  	border-bottom: 1px solid  #e9e9e9;
		  	color: #686868;
			}
    </style>
</head>
<body>
    <div class="container">
        <div id="task-container">
            <div id="form-wrapper">
                <form id="form">
                    <div class="flex-wrapper">
                        <div style="flex: 6">
                            <input type="text" name="title" id="title" class="form-control" placeholder="add task">
                        </div>
                        <div style="flex: 1">
                            <input type="submit" class="btn" id="submit">  
                        </div>
                    </div>
                </form>
            </div>
            <div id="list-wrapper">

            </div>
        </div>
    </div>
</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
    <script type="text/javascript">

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        let csrftoken = getCookie('csrftoken');
        let activeItem = null

        buildList()

        function buildList(){
            let wrapper = document.getElementById('list-wrapper')
            wrapper.innerHTML = ''
            let url = 'http://127.0.0.1:8000/api/task-list/'

            fetch(url)
            .then((resp) => resp.json())
            .then(function (data){
                var list = data;
                for(var i in list){
                    var title = `<span class="title">${list[i].task}</span>`

                    if(list[i].complete){
                        title = `<strike class="title">${list[i].task}</strike>`
                    }

                    let item = `
                        <div id="data-row-${i}" class="task-wrapper flex-wrapper">
                            <div style="flex:7">
                                ${title}
                            </div>
                            <div style="flex:1">
                                <button class="btn btn-sm btn-outline-info edit">edit</button>
                            </div>
                            <div style="flex:1">
                                <button class="btn btn-sm btn-outline-dark delete">-</button>
                            </div>
                        </div>
                    `
                    wrapper.innerHTML += item

                    let editBtn = document.querySelectorAll('.edit');
        
                    // editBtn.addEventListener('click', editItem)
                    editBtn.forEach(function(btn){
                        btn.addEventListener('click', function(){
                            let parent = btn.parentElement.parentElement
                            let id = parent.id
                            let itemValue = parent.querySelector('.title').textContent
                            editItem(list[id[9]], itemValue)
                        })
                    })

                    let deleteBtn = document.querySelectorAll('.delete');
                    deleteBtn.forEach(function(btn){
                            btn.addEventListener('click', function(){
                            let parent = btn.parentElement.parentElement
                            id = parent.id;
                            deleteItem(list[id[9]])
                        })
                    })

                    let titleBtn = document.querySelectorAll('.title');
                    titleBtn.forEach(function (btn){
                        btn.addEventListener('click', function(){
                            let parent = btn.parentElement.parentElement
                            let id = parent.id
                            strikeUnstrike(list[id[9]])
                        })
                    })
                }
            })
        }


        let form = document.getElementById('form-wrapper')
        form.addEventListener('submit', function(e){
            e.preventDefault()
            let url = 'http://127.0.0.1:8000/api/task-create/'

            if (activeItem != null) {
                url = `http://127.0.0.1:8000/api/task-update/${activeItem.id}/`
                activeItem = null
            }

            let title = document.getElementById('title').value
            fetch(
                url, 
                {
                    method:'POST',
                    headers:{
                        'Content-type':'application/json',
                        'X-CSRFToken':csrftoken,
                    },
                    body:JSON.stringify({'task':title})
                }
            ).then(function(response){
                buildList();
                document.getElementById('form').reset()
            })
        })
        
        function editItem(task, value){
            let editTitle = document.getElementById('title');
            activeItem = task
            console.log('item clicked', activeItem);
            editTitle.value = value
        }
        
        function deleteItem(task){
            let item = task
            // editTitle.value = value
            fetch(`http://127.0.0.1:8000/api/task-delete/${item.id}/`, {
                method:'DELETE',
                headers:{
                    'Content-type': 'application/json',
                    'X-CSRFToken': csrftoken,
                }
            }).then((response) => {
                buildList();
            })
        }

        function strikeUnstrike(item){
            item.complete = !item.complete
            fetch(`http://127.0.0.1:8000/api/task-update/${item.id}/`, {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body:JSON.stringify({
                    'task':item.task,
                    'complete':item.complete
                })
            }).then((response) => {
                buildList();
            })
        }
    </script>
</html>